.bg-img-1{
        background-image: url('landing1.png')
}

.bg-img-2{
    background-image: url('landing2.png')
}

.bg-img-3{
    background-image: url('landing3.png')
}

.carousel-image {
    height: 90vh;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }