.carousel-image {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}
