.curve-100 {
    border-radius: 12px;
}

.bg-gray {
    background-color: #dbdbdb;
}

.bg-red {
    background-color: #ef1a2b;
    color: white;
}

.row {
    display: flex;
    align-items: center;
}

.height-100px {
    min-height: 100px;
}

.width-100px {
    min-width: 100px;
}